.selectCustom{
   width: 25%;
   border-radius: 5px;
   border-style: groove;
   border-color: rgb(219, 213, 213);
   border-width: 1px;
   padding: 8px;
   font-size:14px ;
   background: transparent;
   
   
}
.selectCustom:focus{ outline: none;}

select::-ms-expand{
    display: none;
}
select:hover{
    border:1px solid black;
}
select option{
    background-color: whitesmoke;
    letter-spacing: 1.2px;
    font-weight: 400;
    font-size: 18px;
}
/* .select-item:hover{background-color: rgb(212, 216, 216);} */

/* w-3/12 border p-1 rounded-md */